<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902874794806-0rpc7chfvqdfffir6u13cgomeql6p009.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902874794806-0rpc7chfvqdfffir6u13cgomeql6p009</string>
	<key>API_KEY</key>
	<string>AIzaSyDNLSNHda-l2lgApctAbtpxfwuogTwYHQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>902874794806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goepik.wms</string>
	<key>PROJECT_ID</key>
	<string>digitalwms-63d0f</string>
	<key>STORAGE_BUCKET</key>
	<string>digitalwms-63d0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902874794806:ios:c8e1cb0bee57f4c934c197</string>
	<key>DATABASE_URL</key>
	<string>https://digitalwms-63d0f.firebaseio.com</string>
</dict>
</plist>